<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static "css/layout.css"%}" rel="stylesheet">
</head>
<body>
    <div class="index_top">
        <img style="margin-left: -100px;" src="{% static "img/headline.png" %}">
        <div class="ctrl">
            <ul>
                <li class="help">
                    <a href="{% url 'help' %}">帮助</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">退出</a>
                </li>
            </ul>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-top:7px;font-size:17px;">
            <li style="margin-left:10px;margin-top:10px">
                <script type="text/javascript">
                    var mydate = new Date()
                    var myyear = mydate.getFullYear();
                    var mymonth = mydate.getMonth()+1;
                    var myday = mydate.getDate();
                    var weekday=["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
                    document.write(myyear+"年"+mymonth+"月"+myday+"日"+" "+weekday[mydate.getDay()]);
                </script>
            </li>
            <li style="margin-left: 589px;"><a href="{% url 'index' %}">首页</a></li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown">选课中心<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'professional' %}">专业课选课</a></li>
                    <li><a href="{% url 'selective' %}">选修课选课</a></li>
                </ul>
            </li>
            <li><a href="{% url 'electived' %}">已选课程</a></li>
            <li><a href="{% url 'timetable' %}">我的课表</a></li>
            <li><a href="{% url 'score' %}" >成绩查询</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="container_left">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active" style="width:200px;text-align: center"><a href="{% url 'info' %}">修改信息</a></li>
                <li role="presentation" style="width:200px;margin-top:10px;text-align: center"><a href="{% url 'password' %}">修改密码</a></li>
            </ul>
        </div>
        <div class="container_middle">
            <form method="POST">
                {% csrf_token %}
                <ul style="margin-left: 40px;">
                    <li style="margin-top: 75px;">
                       <div class="input-group">
                            <span class="input-group-addon {% if userinfo_form.errors.phone %}errorput{% endif %}">电&nbsp;&nbsp;&nbsp;&nbsp;话</span>
                            <input type="text" class="form-control" id="phone" name="phone" value="{{ request.user.phone }} " placeholder="请输入你的手机号码" style="width: 300px;">
                        </div>
                    </li>
                    <li style="margin-top:30px;">
                         <div class="input-group">
                            <span class="input-group-addon {% if userinfo_form.errors.email %}errorput{% endif %}">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</span>
                            <input type="text" class="form-control" id="email" name="email" value="{{ request.user.email }} " placeholder="请输入你的邮箱地址" style="width: 300px;">
                        </div>
                    </li>
                </ul>
                <div class="error-mes" style="margin-left: 80px;margin-top:20px;">{% for key,error in userinfo_form.errors.items %}{{ error }}{% endfor %}</div>
                <div class="update_save">
                    <button class="btn btn-info" type="submit" value="submit">保存</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>