<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>选课常见问题</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../dist/js/jquery-1.4.min.js"></script>
    <link href="{% static "css/layout.css"%}" rel="stylesheet">
</head>
<body class="informBody">
    <div class="w1000">
        <div class="pt15">
            <div class="m-left">
                <div class="model-box">
                    <h3 style="text-align: center;">选课常见问题</h3>
                    <div>
                        <p></p>
                        <h4 style="font-weight: bold">问题1：选课系统登陆的用户名和密码是什么？</h4>
                        <p></p>
                        <h4 style="text-indent:2em;">用户名是学生学号，密码默认为六个零，可通过首页修改密码修改。</h4>
                    </div>
                    <div>
                        <p></p>
                        <h4 style="font-weight: bold">问题2：选课时，提示不在选课的时间范围内，为什么？</h4>
                        <p></p>
                        <h4 style="text-indent:2em;">请在首页——选课日历中查看当前时间是否在选课范围内，注：当前时间是以数据库的时间为准，不是当前选课的计算机时间。 </h4>
                    </div>
                    <div>
                        <p></p>
                        <h4 style="font-weight: bold">问题3：选课系统无专业课或缺专业课问题？</h4>
                        <p></p>
                        <h4 style="text-indent:2em;">请及时联系自己学院的教学管理老师，一般是教学计划数据或学籍数据的问题。</h4>
                    </div>
                    <div>
                        <p></p>
                        <h4 style="font-weight: bold">问题4：选中同一时段课程怎么办？</h4>
                        <p></p>
                        <h4 style="text-indent:2em;">请自行在已选课程退选，切勿将同一课程重复选课，选课时间结束后将关闭退选按钮。</h4>
                    </div>
                    <div>
                        <p></p>
                        <h4 style="font-weight: bold">问题5：如何查看课表？</h4>
                        <p></p>
                        <h4 style="text-indent:2em;">在系统首页点击查看课程选项。</h4>
                    </div>
                    <div>
                        <p></p>
                        <h4 style="font-weight: bold">问题6：如何修改个人信息？</h4>
                        <p></p>
                        <h4 style="text-indent:2em;">可通过首页修改个人信息修改，在修改页面可以修改个人的手机和邮箱等联系方式。</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>